<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaWMvRWiRL-haGp7-xSCwj5gsDkYpOabI</string>
	<key>GCM_SENDER_ID</key>
	<string>660781425663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>erenoske.com.FitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-4d1f6</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-4d1f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660781425663:ios:ab99cd88a9f72b79593dca</string>
</dict>
</plist>